services:
  - type: web
    name: chrome-rdp-working
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    port: 80
    healthCheckPath: /health
    autoDeploy: true
    envVars:
      - key: VNC_PASSWORD
        value: "chrome123"
