services:
  - type: web
    name: chrome-rdp-final
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    port: 80
    healthCheckPath: /health.html
    autoDeploy: true
    envVars:
      - key: VNC_PASSWORD
        generateValue: true
