services:
  - type: web
    name: chrome-rdp
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DISPLAY_WIDTH
        value: "1280"
      - key: DISPLAY_HEIGHT
        value: "720"
      - key: VNC_PASSWORD
        generateValue: true
      - key: ENABLE_NO_VNC
        value: "true"
    healthCheckPath: /health
    autoDeploy: true
    headers:
      - path: /*
        name: X-Frame-Options
        value: ALLOW-FROM *
      - path: /*
        name: Content-Security-Policy
        value: "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob:; frame-ancestors *;"
